<%- include("../partials/html-head") %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<%- include("../partials/nav") %> 
  <main>
  <h1><%=title%></h1>
  <p>Please first ensure that the Destination is not in the dropdown
    <select>
      <% destinations.forEach(function(destination) { %>
        <%console.log(destination) %>
        <option><%= destination.airport %></option>
      <% }) %>
    </select>
  </p>
  <form action="/destinations" method="POST" id="add-performer-form">
    <label for="destination-input">Destination Name:
    </label>
    <input type="text" name="airport" id="destination-input">
    <button class='on-page-button' type="submit">Add</button>
  </form>
</main>
<%- include("../partials/footer") %> 