<%- include("../partials/html-head") %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<%- include("../partials/nav") %> 
  
  <main>
  <h1><%=title%></h1>
  <table>
    <thead>
      <tr>
        <th class='header'>Airline</th>
        <th class='header'>Airport</th>
        <th class='header'>Flight Number</th>
        <th class='header'>Departure Time</th>
        <th class='header'>Details</th>
      </tr>
    </thead>
    <tbody>
      <%flights.sort((a,b) => {return a.departs - b.departs})%>
      <%flights.forEach(f => { %>
      <tr
      <% if(f.departs < new Date()) { %>
        class='departed' 
        <% } else { %>
          class='not-departed'
          <% } %>
        >
        <td><%=f.airline%></td>
        <td><%=f.airport%></td>
        <td><%=f.flightNo%></td>
        <td>
          <%=f.departs.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZoneName:'short'})%>
        </td>
        <td><a href='/flights/<%=f._id%>'>Details</a></td>
        <td>
          <form 
            action='/flights/<%=f._id%>?_method=DELETE'
            method='POST'>
            <button id='delete' type="submit">X</button>
          </form></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</main>
<%- include("../partials/footer") %> 