<%- include("../partials/html-head") %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<%- include("../partials/nav") %> 
  
  <main>
  <h1><%=title%></h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Time</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <%flights.sort((a,b) => {return a.departs - b.departs})%>
      <%flights.forEach(t => { %>
      <tr
      <% if(t.departs < new Date()) { %>
        class='departed' 
        <% } %>
        >
        <td><%=t.airline%></td>
        <td><%=t.airport%></td>
        <td><%=t.flightNo%></td>
        <td>
          <%=t.departs.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZoneName:'short'})%>
        </td>
        <td><a href='/flights/<%=t._id%>'>Details</a></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</main>
<%- include("../partials/footer") %> 